includes:
    - ./vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: max
    ignoreErrors:
        #We have some runtime protection that needs to be tested. Ignore these errors
        - '#Cannot cast mixed to string#'
